body{
    background-image: url(7636213_3607424.jpg);
    background-attachment: fixed;
    color: white;
    background-size: cover;
}
.thxList{
    font-size: 20px;
}
.thx{
    position:absolute;
    bottom:0;
}