body{
    background-image: url(45184470_9147451.jpg);
    background-attachment: fixed;
    color: white;
    background-size: cover;
}
.pointercrate{
    position: fixed;
    width: 500px;
    border: 10px solid;
    border-color: black;
    border-style: groove;
    margin-left: 54%;
}
.main {
    position: fixed;
    max-width: 700px;
    margin-left: 20px;
    text-indent: 20px;
    text-shadow: 2px 2px #000000;
    font-size: larger;
    margin-top: 60px;
}
.bio2Index{
    position: fixed;
    margin-top: 10px;
    background-color: cadetblue;
}
.title{
    position: fixed;
    margin-left: 170px;
    text-shadow: 2px 2px #000000;
}
